.container{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 4rem 20vw;

    img{
        width: 40%;
        height: 40%;
    }

    p{
        padding: 2rem 0 0 0;
        text-align: center;
        font: 1.2em sans-serif;
    }

    .button-container{
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
        margin: 0;

        button{
            font: 1.2em sans-serif;
            font-weight: bold;
            margin: 0 4rem;
            padding: 1rem 1rem;
            width: 10rem;
            border: none;
            border-radius: 5px;
            background-color: #7e0001;
            cursor: pointer;
        }
    }
}