<app-header></app-header>
<div class="container">
    <img src="images/logo.png">
    <p>Our company specializes in providing comprehensive digital security solutions to safeguard businesses from cyber
        threats. We offer a range of services, including network protection, data encryption, threat monitoring, and
        vulnerability assessments, ensuring that your sensitive information remains secure. With a team of experienced
        cybersecurity professionals, we help clients proactively identify risks, mitigate potential breaches, and
        maintain compliance with industry standards, giving them peace of mind in an increasingly digital world.</p>
    <div class="button-container">
        <a routerLink="/about"><button>Learn More</button></a>
        <a routerLink="/login"><button>Sign In</button></a>
    </div>
</div>
<app-partener-slider></app-partener-slider>
<app-footer></app-footer>