<p>Our parteners</p>
<div class="logos">
    <div class="blur left">

    </div>
    <div class="logos-slide">
        <img src="images/logo1.webp">
        <img src="images/logo2.webp">
        <img src="images/logo3.webp">
        <img src="images/logo4.webp">
        <img src="images/logo5.webp">
        <img src="images/logo6.webp">
        <img src="images/logo7.webp">
        <img src="images/logo8.webp">
        <img src="images/logo9.webp">
        <img src="images/logo10.webp">
    </div>
    <div class="logos-slide">
        <img src="images/logo1.webp">
        <img src="images/logo2.webp">
        <img src="images/logo3.webp">
        <img src="images/logo4.webp">
        <img src="images/logo5.webp">
        <img src="images/logo6.webp">
        <img src="images/logo7.webp">
        <img src="images/logo8.webp">
        <img src="images/logo9.webp">
        <img src="images/logo10.webp">
    </div>

    <div class="blur right">

    </div>
</div>

